JWT_SECRET=tu-clave-secreta-super-larga-cambiar-en-produccion
AULAS_URL=https://aulas.gobstones.org
NODE_ENV=development
ADMIN=
SERVICE_ACCOUNT_BASE64=
DRIVE_FOLDER_ID=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=