JWT_SECRET=asdas
AULAS_URL=https://aulas.gobstones.org
NODE_ENV=development
ADMIN=
GOOGLE_SERVICE_ACCOUNT_BASE64=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=